
/* CUSTOM PROPS */
:root {
    --textColor: #69707D;
    --darkText: #1D2026;
    --background: #FF7E1B;
    --lightBack: #F6F8FD;
    --white: #FFF;
    --black: #000;
    --Kumbh_Sans: "Kumbh_Sans";
}

/* //CUSTOM PROPS */



/* max-width: 375px */



@media (max-width: 375px) {

    .nav-logo-menu {
        /* align-items: center; */
        justify-content: center;
        column-gap: 15px !important;
    }

    .fas {
        margin-top: 18px;
        z-index: 100;
        font-weight: unset !important;
        color: rgba(0, 0, 0, 0.661);
    }

    .nav-menu {
        transform: scale(0);
        position: fixed;
    }

    body {
        position: relative;
    }

    .menu-active {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 100vh;
        padding-top: 92px;
        padding-left: 25px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        background-color: #a0a2a5;
        transition: .5s;
        transform: translateX(-200px);                        
    }

    .menu-icon {
        transform: scale(1);
    }

    .menu-link {
        color: var(--darkText);
        font-size: 18px;
        font-family: var(--Kumbh_Sans);
        font-weight: 700;
        line-height: 26px;
    }

    .display-none {
        /* display: none; */

        transform: translateX(0);

    }
}