@import url(./fonts.css);

/* CUSTOM PROPS */
:root {
    --textColor: #69707D;
    --darkText: #1D2026;
    --background: #FF7E1B;
    --lightBack: #F6F8FD;
    --white: #FFF;
    --black: #000;
    --Kumbh_Sans: "Kumbh_Sans";
}

/* //CUSTOM PROPS */

/* GLOBAL-STYLE */
*,
*,
::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* //GLOBAL-STYLE */

/* CONTAINER */

.container {
    max-width: 1125px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

/* //CONTAINER */


/* SITE-HEADER */
/* .site-header {  
    width: 100%;
    border: 1px solid blue;
    background-color: red;
    
} */
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-top: 28px;
    padding-bottom: 0px;
    border-bottom: 1px solid #E4E9F2;
    position: relative;
    transition: .5s;
}

.menu-icon {
    transform: scale(0);
}

.nav-logo-menu {
    display: flex;
}

.site-logo {
    padding-bottom: 40px;
    margin-right: 56px;
}

.nav-menu {
    display: flex;
    column-gap: 32px;
}

.menu-item {
    margin-top: 12px;
}


.active-item {
    a {
        color: var(--darkText);
    }

    border-bottom: 4px solid var(--background);
    padding-bottom: 35px;
    margin-top: 12px;
}

.menu-link {
    color: var(--textColor);
    font-family: var(--Kumbh_Sans);
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}

.nav-profil {
    display: flex;
    align-items: center;
    column-gap: 45px;
    padding-bottom: 35px;
}

.cart-box {
    width: 360px;
    height: 256px;
    padding-top: 24px;
    padding-bottom: 32px;
    /* padding-left: 24px;
    padding-right: 24px; */
    border-radius: 10px;
    background: var(--white);
    box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.50);
    position: absolute;
    top: 94px;
    right: -76px;
    display: flex;
    flex-direction: column;
    row-gap: 23px;
    display: none;
    opacity: 0;
    /* transform: scale(0); */
}

.cart-box__title {
    margin-left: 24px;
    color: var(--darkText);
    font-family: var(--Kumbh_Sans);
    font-size: 16px;
    font-weight: 700;
}

.cart-box__line {
    width: 100%;
    height: 1px;
    background-color: #E4E9F2;
}

.cart-box__body {
    text-align: center;
    color: var(--textColor);
    text-align: center;
    font-family: var(--Kumbh_Sans);
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.profil-image {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid var(--background);
}

.cart-shopping {
    position: relative;
}

.header-icon {
    color: #5f6267;
}

.header-icon__count {
    /* width: 19px;
    height: 13px; */
    padding: 3px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: var(--background);
    color: var(--white);
    font-family: var(--Kumbh_Sans);
    font-size: 10px;
    font-weight: 700;
    position: absolute;
    top: -6px;
    left: 9px;
    display: none;
}

/* //SITE-HEADER */




/* MAIN SECTION */
.main-section {
    /* width: 100%; */
    padding-top: 90px;
    padding-left: 200px;
    padding-right: 100px;
    padding-bottom: 132px;
}

.main-flex {
    display: flex;
    column-gap: 125px;
    justify-content: center;
    align-items: center;
}

.main-image {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-items: center;
    justify-content: center;
}

/* Js uchun yozildi */


.image__absolute {
    position: absolute;
    top: -100%;
}

.image__absolute-icon {
    position: absolute;
    top: -55px;
    right: 0;
    color: var(--white);
}

.image__absolute-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    display: none;
}

.image__absolute-buttons {
    position: absolute;
    bottom: 55%;
    display: flex;
    justify-content: space-between;
    width: 110%;   
}

.absolute-button {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--darkText);
    font-size: 30px;
}

.site-image__absolute {
    width: 550px !important;
    height: 550px !important;
}

/* //Js uchun yozildi */


.site-image__img {
    width: 445px;
    height: 445px;
    object-fit: cover;
    overflow: hidden;
}



.site-image__box {
    display: flex;
    column-gap: 31px;
}

.image-box__item {
    width: 88px;
    height: 88px;
    border-radius: 10px;
}

.image-box__item:hover {
    cursor: pointer;
}

.image-item__active {
    opacity: 0.3;
    border: 2px solid #FF7E1B;
}

.main-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.main-text {
    color: var(--background);
    font-family: var(--Kumbh_Sans);
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.main-title {
    max-width: 445px;
    width: 100%;
    color: var(--darkText);
    font-family: var(--Kumbh_Sans);
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 32px;
}

.main-desc__text {
    max-width: 445px;
    width: 100%;
    color: var(--textColor);
    font-family: var(--Kumbh_Sans);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 28px;
}

.main-cost__box {
    display: flex;
    column-gap: 16px;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 32px;
}

.cost-box__price {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
}

.cost-box-newPrice {
    color: var(--darkText);
    font-family: var(--Kumbh_Sans);
    font-size: 28px;
    font-weight: 700;
}

.cost-box-oldPrice {
    color: #B6BCC8;
    font-family: var(--Kumbh_Sans);
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-decoration-line: strikethrough;
}

.cost-box__sale {
    padding: 7px 8px 6px;
    color: var(--background);
    font-family: var(--Kumbh_Sans);
    font-size: 16px;
    font-weight: 700;
    background-color: #FFEEE2;
    border-radius: 6px;
}

.order-buttons {
    display: flex;
    column-gap: 16px;
    justify-content: center;
    align-items: center;
}

.count-box {
    padding: 23px 16px 20px;
    display: flex;
    column-gap: 45px;
    border-radius: 10px;
    background-color: #f6f6fd;
}

.count-box__item {
    font-size: 20px;
    font-weight: 700;
    color: var(--background);
}

.count-box__item:hover {
    cursor: pointer;
}

.count-num {
    color: var(--darkText);
    text-align: center;
    font-family: var(--Kumbh_Sans);
    font-size: 16px;
    font-weight: 900;
}

.add-cart__btn {
    padding: 23px 76px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--background);
    box-shadow: 0px 20px 50px -20px #FF7E1B;
    display: flex;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    color: var(--white);
    transition: .5s;
}

.add-cart__btn:hover {
    cursor: pointer;
}

.add-cart__btn:active {
    background-color: #FFAB6A;
}

.cart-btn__text {
    font-family: var(--Kumbh_Sans);
    font-size: 16px;
    font-weight: 700;
}


/* //MAIN SECTION */